<div class="social-main social-main-{{currentScreenSize}}">
    <div class="social-text">
        India❤
    </div>
    <div class="social-icons">
        <div>
            <button mat-icon-button matTooltip="twitter" aria-label="">
                <mat-icon svgIcon="twitter-icon"></mat-icon>
            </button> 
        </div>
        <div>
            <button mat-icon-button matTooltip="facebook" aria-label="">
                <mat-icon svgIcon="facebook-icon"></mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button matTooltip="instagram" aria-label="">
                <mat-icon svgIcon="instagram-icon"></mat-icon>
            </button>
        </div>
    </div>
</div>