<div class="banner-main banner-main-{{currentScreenSize}}" id="banner">
    <div class="logo-main">
        <div class="logo-cover">
            <div>
                <img height="200px" [src]="textJson.brand_logo">
            </div>

        </div>
    </div>
    <div class="banner-header">
        <div class="banner-header-main font-body-head">
            <button mat-button matTooltip="logo" aria-label="" [style.fontFamily]="'inherit'">
                <mat-icon svgIcon="glasses-icon" [style.width]="'20%'"></mat-icon>
                {{textJson.brand_name}}
            </button>
            <div style="flex-grow: 1;"></div>
            <button mat-button [style.fontFamily]="'inherit'" appGoto="locate">
                Store
            </button>
            <button mat-button [style.fontFamily]="'inherit'" appGoto="social">
                Contact
            </button>
        </div>
    </div>
    <div class="banner-footer">
        <button mat-icon-button matTooltip="move-down" aria-label="" appGoto="locate">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>

    <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)" [style.height]="'100%'" [style.postion]="'relative'"></ng-particles>


</div>