.banner-main {
    height: calc(100vh);
    background-color: var(--color-banner);
    position: relative;

    place-content: center;
    display: flex;
    flex: 0 0 auto;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge*/
    user-select: none;
    /* Non-prefixed version, currently 
                                    not supported by any browser */

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    pointer-events: none; /* disables image dragging */
}

.banner-header-main {
    display: flex;
}

.banner-main-mobile .banner-header .banner-header-main {
    padding-left: 20px;
    padding-right: 20px;
}

.banner-main-tablet .banner-header .banner-header-main {
    padding-left: 50px;
    padding-right: 50px;
}

.banner-main-web .banner-header .banner-header-main {
    padding-left: 100px;
    padding-right: 100px;
}

#tsparticles-main {
    height: 100%;
    width: 100%;
    inset: 0;
    position: absolute;
}

.logo-main {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    z-index: 10;
    place-content: center;
    align-items: center;
    max-width: 1000px;
    height: 100%;

}

.logo-main img {
    height: 100%;
    width: 100%;
}

.banner-header {
    position: absolute;
    top: 5%;
    width: 100%;
    pointer-events: all;
}

.banner-footer {
    position: absolute;
    top: 95%;
}