<div class="info-main info-main-{{currentScreenSize}}" >
    <div class="info-card" id="info-card-1">
        <div class="info-card-text">
            <div class="info-card-header font-head">
                {{textJson.info_head_1}}
            </div>
            <div class="info-card-content font-body">
                {{textJson.info_body_1}}
            </div>
        </div>
        <div class="info-image">
            <div class="info-image-cover">
                <img src="assets/images/img1.jpg">
            </div>
        </div>
    </div>
    <div class="info-card" id="info-card-2">
        <div class="info-image">
            <div class="info-image-cover">
                <img src="assets/images/img2.jpg">
            </div>
        </div>
        <div class="info-card-text">
            <div class="info-card-header font-head">
                {{textJson.info_head_2}}
            </div>
            <div class="info-card-content font-body">
                {{textJson.info_body_2}}
            </div>
        </div>
    </div>
</div>