<div class="subscribe-main" id="subscribe">
    <div class="subscribe-head font-head">{{textJson.subscribe_head}}</div>
    <div class="subscribe-body font-body">
        <p>
            {{textJson.subscribe_body}}
        </p>
    </div>
    <div class="subscribe-footer font-body-head">
        <input class="subscribe-input"  placeholder="name@email.com">
        <button mat-flat-button class="subscribe-button" [style.backgroundColor]="'orange'"  [style.fontFamily]="'inherit'"  >Subscribe</button>
    </div>
</div>