<div class="subscribe-main">
    <div class="subscribe-head font-head">{{textJson.subscribe_head}}</div>
    <div class="subscribe-body font-body">
        <p>
            {{textJson.subscribe_body}}
        </p>
    </div>
    <div class="subscribe-footer font-body-head">
        <input class="subscribe-input"  placeholder="name@email.com">
        <button  class="subscribe-button" [style.backgroundColor]="'orange'"  [style.fontFamily]="'inherit'" mat-flat-button >Subscribe</button>
    </div>
</div>