<div class="reviews-main reviews-main-{{currentScreenSize}}" >
    <div class="reviews-container">
        <app-each-review 
            [image]="textJson.review_image_1"
            [heading]="textJson.review_head_1"
            [footer]="textJson.review_head_1"
        ></app-each-review>
        <app-each-review 
            [image]="textJson.review_image_2"
            [heading]="textJson.review_head_2"
            [footer]="textJson.review_body_2"
        ></app-each-review>
        <app-each-review 
            [image]="textJson.review_image_3"
            [heading]="textJson.review_head_3"
            [footer]="textJson.review_body_3"
        ></app-each-review>
    </div>
</div>