/* You can add global styles to this file, and also import other style files */

:root {
    --font-family-body: "DM Sans", sans-serif;
    --font-family-body-head: "DM Sans", "DM Sans Placeholder", sans-serif;
    --font-family-head: "Wix Madefor Display", sans-serif;
    --font-family-india: Roboto, "Helvetica Neue", sans-serif;;
    --color-button: "orange";
    --color-banner: #111340;
    --color-text: rgb(235, 234, 179);
    --color-card: rgb(236, 255, 227);
    --color-poster-2: rgb(1, 22, 39);
    --color-poster-1: rgb(253, 255, 252);
    --color-background: rgb(241, 240, 227);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family-body)
}

.font-head {
    font-family: var(--font-family-head);
}

.font-body {
    font-family: var(--font-family-body);
}

.font-body-head {
    font-family: var(--font-family-body-head);
}